[Container]
Image=ghcr.io/lissy93/dashy:latest
ContainerName=dashy
AutoUpdate=registry
Environment=NODE_ENV=production
PublishPort=8080:8080 #customize your listening port
Volume=%h/Dashy/app/user-data:/app/user-data:Z #customize your data path

[Service]
Restart=always

[Install]
WantedBy=default.target
